<div class="sp-only sp">
  <img src="/assets/images/shark.gif" alt="" />
  <a href="https://googlefonts.github.io/noto-emoji-animation/" target="_blank" rel="noopener noreferrer">Animated Emoji</a>
</div>

<style lang="scss">
  .sp-only {
    position: relative;
    height: 100dvh;
    width: 100%;
    padding-inline: 45rem;
    padding-bottom: 40rem;
    display: grid;
    place-items: center;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      opacity: 0.3;
      filter: grayscale(0.8);
    }

    a {
      position: absolute;
      bottom: 5rem;
      right: 5rem;
      font-size: min(5rem, 20px);
      color: #fff;
      opacity: 0.2;
    }
  }
</style>
